@import url(
  'https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,700;1,100;1,200;1,300&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body{
  font-family:"Poppins", sans-serif;
  line-height: 1.7;

}
.nav-link{
  position: relative;

}

.nav-link:hover{
  text-decoration: underline;
  border-bottom: 3px solid red;
}

.nav-link::after{
  opacity: 0;
  transition: all 0.2s;
  width: 0%;
  height: 2px;
  background: red;
  position: absolute
}

.nav-link:hover::after{
    content:'';
    opacity: 1;
    transition: 0.5s;
}

h1,h2,h3,h4,h5,h6{
  font-weight: 900;
}

a{
  text-decoration: none;
  transition: all 0.4s ease;
  font-weight:800;
  font-size: larger;
}

section{
  padding-top: 100px;
  padding-bottom: 100px;
  z-index:2;
  position: relative;
}

.overlay{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
 
  z-index: -1;
}

.bg-cover{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.hero-section {
  min-height: 100vh;
  display:flex;
  justify-content:center;
  align-items:center;
}

.btn{
  padding:24px 22px;
  background:linear-gradient(rgb(235, 231, 233), rgba(15, 13, 13, 0.267));
  border-radius:200px;
  border:none;
  font-weight:800 ;
  transition: all 0.4s ease;
}

.btn:hover{
  transform:translateY(-3px);
}

.navbar{
  position: relative;
}


.title1{
  text-align: center;
  font-size:xx-large;
  font-weight: 800;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.chap2{
  background-color: #555f77;
}

.curved{
  background:linear-gradient(rgb(165, 242, 236),rgb(132, 146, 139)) ;
  color:rgb(57, 65, 68);
  text-align: center;
  margin-top: 0;
}

.curved h4{
  font-size:4rem;
  font-family:'Times New Roman', Times, serif;
  margin-top: 0;
}

.curved h6{
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size:2rem;
  margin: 0 3rem 0 3rem;
}

.curved svg{
  display: block;
}

.about-bg{
  background-color:#cde0ff ;
}

.about-us{
  font-size: 30px;
  font-weight: 300;
  text-align: center;
}
.about-us1{
  font-size: 25px;
  font-weight: 500;
  text-align: center;
}

.about-med{
  width: auto;
}

.img-link:hover{
  color:rgb(246, 63, 63);

}


.testimonials{
 margin: 50px auto;
}

.testimonials h1{
  text-transform: capitalize;
  color:slategrey;
  text-align: center;
  font-family: 'Style Script', cursive;
  font-style: italic;
  font-size: 90px;
}

.testimonials p{
  text-transform: capitalize;
  text-align: center;
  font-family:'Style Script', cursive;
  font-size: 30px;
}


.testimonials h1:hover{
  text-decoration: underline 3px 1px;
  color: black;
}

.testimonials h1::after{
  content: '';
  background: slategrey;
  display: block;
  height: 3px;
  width: auto;
  margin:20px auto 5px;
 
}

.testimonials.row{
  margin-top:30px ;

}
.col-md-4{
  margin:40px auto;
}

.profile{
  padding: 70px 10px 10px;
  background-color: #efefef;
}

.profile img{
  top:-100px;
  position:relative;
  left:calc(50% -60px);
  border: 10px solid black;
}

.user{
  width: 50px;
  height: 220px;
  border-radius: 50%;
}

blockquote::before{
  content:'“';
  font-size: 50px;
  position:relative;
  color:#ff9800;
  line-height:20px;
  bottom:-5px;
  right:5px ;
}

blockquote::after{
  content: '”';
  font-size: 50px;
  position:relative;
  color:#ff9800;
  line-height:20px;
  bottom:-5px;
  left:5px ;
}

.contact-pg{
  min-height: 100vh;
  background:url(images/contact-us-1.jpg);
  background-size:cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-section{
  width:100%;
  display:flex;
  justify-content: center;
  align-items:center;
}

.contact-info{
  color:#fff;
  max-width: 500px;
  line-height: 75px;
  padding-left:70px;
  font-size:20px;
}

.contact-info i{
  margin-right: 20px;
  font-size:25px;
}

.contact-form{
  max-width: 700px;
  margin-right: 50px;
  margin-left: 200px;
}

.contact-info, .contact-form{
  flex: 1;
}
.contact-form h2{
  color: #fff;
  text-align: center;
  font-size: 35px;
  text-transform: uppercase;
  margin-bottom: 30px;
}


.contact-form .text-box{
  background:#000;
  color:#fff;
  border:none;
  width: calc(50% - 10px);
  height:50px;
  padding:12px;
  font-size: 15px;
  border-radius: 5px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  opacity: 0.9;
}

.contact-form .text-box:first-child{
  margin-right: 15px;
}

.contact-form textarea{
  background: #000;
  color: #fff;
  border: none;
  width: 100%;
  padding: 12px;
  font-size: 15px;
  min-height: 200px;
  max-height: 400px;
  resize: vertical;
  border-radius: 5px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  opacity: 0.9;
}

.contact-form .send-btn{
  float: right;
  background: #2E94E3;
  color: #fff;
  border: none;
  width: 120px;
  height: 40px;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  transition-property: background;
}

.contact-form .send-btn:hover{
  background: #0582E3;
}

@media screen and (max-width: 950px){
  .contact-section{
    flex-direction: column;
  }
}

.container-footer{
	max-width: 1170px;
	margin:auto;
}
.footer-row{
	display: flex;
	flex-wrap: wrap;
}
.footer ul{
	list-style: none;
}
.footer{
	background-color: #24262b;
    padding: 70px 0;
    
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}

.copyright{
  text-align: center;
  background-color: #555f77;
  color: #fff;
}